# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/

# Dependencies
node_modules/
venv/
.env/
.venv/

# Builds
build/
dist/
coverage/
*.log

# Python
__pycache__/
*.pyc
*.pyo
.mypy_cache/
.pytest_cache/

# Node
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-store/

# Misc
.tmp/
.cache/
